{% extends "shop/base.html" %}
{% load static %}

{% block content %}
    {% if stock_error == 1 %}
        <span style="color: red; float:left" id="alert_quantity">
            <script>
                alert("Erro na selecção de quantidade (quantidade > 0 e quantidade <= stock)")
            </script>
        </span>
    {% endif %}
    <h1>Carrinho</h1>
    <table class="cart">
        <thead>
        <tr>
            <th>Image</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Remove</th>
            <th>Unit price</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
            {% for i in items %}
                <tr>
                    <td>
                        <a href="{{ i.product.get_absolute_url }}">
                            <img src="{% if i.product.image %}{{ i.product.image.url}}{% else %}{% static "shop/img/no_image.png" %}{% endif %}">
                        </a>
                    </td>
                    <td>{{ i.product.name }}</td>
                    <td>
                        <form id='updateform' action='{% url "cart:update_cart" %}' method="post">
                            {% csrf_token %}
                            <input style="width:10%" type="number" name="quantity" value="{{ i.quantity }}" id="product_quantity"/>
                            <input type="hidden" value="{{ i.product.name }}" id="product_name"/>
                            <input type="hidden" name="slug" value="{{ i.product.slug }}" id="product_slug"/>
                            <input type="submit" value="Update" />
                        </form>

                    </td>


{#                    <td id="quantity_ajax">{{ i.quantity }}</td>#}

                    <td><a href="{% url "cart:cart_item_delete" i.id%}">Remove</a></td>
                    <td id="product_price">{{ i.product.price }}</td>
                    <td id="total_price">{{ i.get_total_price }}</td>

                </tr>
            {% endfor %}
            <tr>
                <td></td><td></td><td></td><td></td><td>Total: </td><td>{{ total }}</td>
            </tr>




        </tbody>

    </table>


    <p class="text-right">

        {# If total its zero, the button "Esvaziar Carrinho" and "Finalizar Compra" doesnt appear #}
        {% if total != 0 %}
            {% if stock_error == 1 %}

            {% else %}
                <a href="{% url "cart:cart_delete_allitems" %}" class="button light">Esvaziar Carrinho</a>
                <a href="{% url "orders:order_create" %}" class="button">Finalizar Compra</a>
            {% endif %}
        {% endif %}

        <a href="{% url "shop:product_list" %}" class="button light">Comprar mais!</a>

    </p>

{#    <script>#}
{#            $(document).ready(function(){#}
{#                $("#updateform").on('submit', function (e) {#}
{#                        e.preventDefault();#}
{#                        var quantity = $("#produto_quantity").val();#}
{#                        var name = $("#produto_nome").val();#}
{#                        var slug = $("#produto_slug").val();#}
{#                        //var input = $(this).serialize()#}
{##}
{#                        $.ajax({#}
{#                            url: '{% url 'cart:atualizar_carrinho' %}',#}
{#                            data: {#}
{#                              'quantity': quantity,#}
{#                                'name': name,#}
{#                                'slug':slug,#}
{#                            },#}
{#                            dataType: 'json',#}
{#                            success: function (data) {#}
{#                              document.getElementById('alert_quantity').innerHTML = data['respond'];#}
{#                              document.getElementById('quantidade_ajax').innerHTML = data['quantity'];#}
{##}
{#                            }#}
{#                          });#}
{#                        });#}
{#            })#}
{#    </script>#}

{% endblock %}
