{% extends "shop/base.html" %}
{% load static %}

{% block content %}
    <div class="product-detail">
        <img src="{% if product.image %}{{ product.image.url }}{%else %}{% static "shop/img/no_image.png" %}{% endif %}">
        <h1>{{ product.name }}</h1>
        <h2><a href="{{ product.subcategoria.get_absolute_url }}">{{ product.subcategory }}</a></h2>
        <p class="price"> PVP: {{ product.price }} €</p>

        {# Caso não exista stock não mostra o botão de adicioar ao cart e indica "Sem Stock" #}
        {% if product.stock > 0 %}

            <p style="color: green"> Em Stock!</p>
                <form action='{% url "cart:add_cart" %}' method="post">
                {% csrf_token %}
{#                <input type="number" name="quantity" value="0" min="1" max="{{ product.stock }}" oninvalid="setCustomValidity('Erro Stock')"  oninput="setCustomValidity('')" />#}
                <input type="number" name="quantity" value="0"  />
                {% if stock_error == 1 %}
                    <span style="color: red;"><script>alert("Sem stock suficiente, ou valor de stock incorreto!");</script></span>
                {% endif %}
                <input type="hidden" value="{{ product.name }}"/>
                <input type="hidden" name="slug" value="{{ product.slug }}"/>
                <input type="submit" value="Add to Cart"/>
            </form>


        {% else %}
            <p style="color: red"> Sem Stock!</p>
        {% endif %}

        {{ product.description|linebreaks }}
        Descrição: {{ product.description }}




{#        {% if request.method == 'POST' %}#}
{#            {{ request.user.first_name }} com o product {{ product.name }}#}
{#        {% endif %}#}
    </div>


{% endblock %}
