{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {% if subcategory %}{{ subcategory.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
    <div id="sidebar">
        <h3>SubCategorias</h3>
        <ul>
            <a href="{% url "shop:product_list" %}">Todos</a>

            {% for c in subcategories %}
                <br/>
                <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
            {% endfor %}
        </ul>

        <br/>
        <p>Pesquisa por preço:</p>
        <form method="get" action="" class="filtro_preco">
            Preço Mínimo:<br>
            <input type="text" name="min_price"><br>
            Preço Máximo:<br>
            <input type="text" name="max_price">
            <input type="submit" data-inline="true" value="Filter">
        </form>
    </div>

    <div id="main" class="product-list">
        {% for product in products %}
            <div class="item">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.image %}{{ product.image.url }}{%else %}{% static "shop/img/no_image.png" %}{% endif %}">
                    {{product.name }} {{product.price }}€
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
