{% extends "shop/base.html" %}

{% block title %}
    Finalizar encomenda
{% endblock %}

{% block content %}
    <h1>Finalizar encomenda</h1>
    <div class="order-info">
        <h3>A sua encomenda:</h3>
        <ul>
            {% for item in cart_items %}
                <li>
                    {{ item.quantity }}x {{ item.product.name }}
                    <span>{{ item.get_total_price}} €</span>
                </li>
            {% endfor %}
        </ul>
        <p>Total: {{ cart.total }} €</p>
    </div>





    {#  Pagamento!  #}
    <form action="." method="post" class="order-form">

        {{ user_form.as_p }}
        {{ profile_form.as_p }}


{#        <p><input type="submit" value="Encomendar"></p>#}
        {% if flag_required == 1 %}
            <p style="color:red"> Endereço de Envio e Endereço de Faturação são obrigatórios</p>
        {% endif %}
        {% csrf_token %}

        <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ pk_stripe }}"
            data-amount= "{{ payment_total_value }}"
            data-name="Teste Django"
            data-description="Example charge"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto"
            data-currency="eur">
        </script>

    </form>





{% endblock %}