{% load static %}

<html>
    <head>
        <meta charset="utf-8"/>
        <title>RogueBit Shop - {% block title %}RogueBit Shop{% endblock %}</title>
        <link href="{% static "css/base.css" %}" rel="stylesheet">
{#        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>#}
    </head>
    <body>
        <div id="header">
            <a href="/" class="logo">RogueBitShop</a>
            <div>
                {% if request.user.is_authenticated %}
                    <a href="{% url "shop:dashboard" %}">My dashboard</a>
                    <span style="display:inline-block; width: 30%;"></span>
                    <span>Hello {{ request.user.first_name }},</span>
                    <a href="{% url "shop:loggedout" %}">Logout</a>
                {% else %}
                    <a href="{% url "shop:login" %}">Log-in</a>
                    <span style="display:inline-block; width: 2%;"></span><a href = "{% url "shop:register" %}"> Registar </a>
                {% endif %}

            </div>



        </div>
        <div id="subheader">
            <div class="cart">
                {% if request.user.is_authenticated %}
                    <a href="{% url "cart:show_cart" %}">Ver Carrinho</a>
                    {{ total_on_base }} €

                {% endif %}

            </div>
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>


    </body>
</html>