{% extends "shop/base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1>Dashboard</h1>
    <a href="{% url "shop:order_list" %}">Encomendas Realizadas</a>
    <h3>Foto:</h3>
    {% if photo %}
        <img style="width:20%" src="{% static photo.url %}" />
    {% endif %}


    {{ user_form.as_p }}
    {{ profile_form.as_p }}


    <p>
        <a href="{% url "shop:edit" %}">Edite o seu perfil</a> ou
        <a href="{% url "shop:password_change" %}">altere a sua palavra-passe</a>.
    </p>
{% endblock %}