{% extends "shop/base.html" %}
{% block title %}Editar Perfil{% endblock %}

{% block content %}
    <h1>Editar Perfil</h1>
    <p>Utilize o seguinte formulário para editar o seu perfil de utilizador:</p>

    <a id="makebutton" href="{% url "shop:password_change" %}">Alterar Palavra Passe</a>
    <form action="." method="post" enctype="multipart/form-data">
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Gravar alterações!"></p>
    </form>

{% endblock %}